/* 1. Element को प्रारंभिक रूप (Initial State) दें */
.animated-box {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 100px;
    margin: 50px;
    
    /* 2. Transition Property: यह बताता है कि किन Properties को animate करना है */
    /* यहाँ, हम 'background-color' और 'transform' को 0.5 सेकंड में एनिमेट करेंगे */
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* 3. Hover State: जब माउस एलिमेंट पर आता है, तो उसकी अंतिम स्थिति (Final State) */
.animated-box:hover {
    background-color: red; /* रंग नीला से लाल हो जाएगा */
    transform: rotate(180deg) scale(1.5); /* 180 डिग्री घूमेगा और 1.5 गुना बड़ा हो जाएगा */
    cursor: pointer;
}